* {
   margin: 0;
   padding: 0;
   box-sizing:border-box; 
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft_Magenta: hsl(300, 69%, 71%);
  }

body {
    background-image: url(images/bg-desktop.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;

}


section {
    display: grid;
    grid-template-columns:  auto auto;
    gap: 10px;
    padding:20px;
    justify-content: center;
}

header {
    grid-column: 1 ;
    grid-row: 1;
    padding-left: 20px;
}

header img {
    width: 200px;
    height: 100px;
}

.left-section {
    grid-column:  1 ;
    grid-row: 2;
    padding: 20px;
  /*  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.left-section img {
    max-width: 100%;
}

.right-section {
    grid-column: 2 ;
    grid-row: 2;
    padding: 20px;
    max-width: 100%;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px; */
   /* text-align: center; */

}

.right-section h1 {
    font-size: 2em;
    padding-top:40px;
    padding-bottom: 20px;
    font-weight:600;
    font-family: 'Poppins', sans-serif !important ;
}

.right-section p {
    padding-bottom:20px;
}

button {
    background-color: white;
    border-radius: 100px;
    border: none;
    padding: 15px;
    width: 180px;
    color: var(--Violet);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: 0.5s;


}

button:hover {
    background-color: var(--Soft_Magenta);
    color: white;
}

.icons {
    grid-column: 2;
    grid-row: 3;
    text-align: right;

}

.icons a {
    font-size: 1em;
    color: white ;
    padding: 20px;
    margin: 10px;
    transition: 0.5s;
}

.icons a:hover {
    color: var(--Soft_Magenta);
}

footer {
    padding: 50px;
}

@media only screen and (max-width: 767px) {

    body {
        background-image: url(images/bg-mobile.svg);
        background-position: top;
        background-size: contain;
    }


    section {
        display: flex;
        flex-direction: column;
      /*grid-template-columns: auto;
      gap: 0; */
    }
    .left-section {
      padding: 20px;
      text-align: center;
      max-width: 100%;
    }

    .left-section img{
        max-width: 100%;
    }

    .right-section {
      padding: 20px;
      text-align: center;
    }
    header {
      padding: 20px;
      text-align: left;
    }
    header img {
      width: 150px;
      height: 75px;
    }
    .right-section h1 {
      font-size: 1.5em;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    .icons {
        text-align: center;
        padding-top: 50px;
    }

    .icons a {
      width: 150px;
      height: 150px;
      font-size: 1.2em;
    }
  }